:root {
  --red: #ff7a7a;
  --green: #38cc8c;
  --purple: #6055a5;
  --grey: #3e3c49;
  --lavender: #b9b6d3;
  /* font family should be Poppins, weights 400, 500, 600, 700 */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-image: url("../images/background_codepen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
}

form {
  max-width: 400px;
  margin: 40px auto;
  background-color: var(--lightblue);
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: solid 0.4rem var(--Catalina);
}
